.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;

  &__container {
    display: grid;
    align-items: center;

    gap: $gap;
    grid-template-columns: auto 1fr;
  }
}
