*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  letter-spacing: 0.1em;

  font-family: $font-main;
  font-size: $font-size;
}

h1 {
  text-align: center;
  letter-spacing: 0.08em;

  color: $color-light;

  font-family: $font-header;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2;
}

a {
  text-decoration: none;

  color: $color-light;
}
